[2017-07-16 06:48] Qolzam opened #3 "Reply Comment"
Reply to comment with mentioning the person and focusing on comment text field.

[2017-07-16 06:52] Qolzam opened #4 "Over layer on slidebar"
When sidebar is open an over layer should be on the main contain so when user click on over layer sidebar will be closed.

[2017-07-16 06:55] Qolzam opened #5 "Pagination for posts"
Add pagination ability for loading post on a page with 5 posts per page.

[2017-07-16 06:58] Qolzam opened #6 "Send feedback"
Add send feedback page.

[2017-07-16 07:00] Qolzam opened #7 "My Account"
Add my account page.

[2017-07-16 07:19] Qolzam opened #8 "Notification on Following"
### Steps
* Click follow user
* Add user in a circle

### Expected Result
If user1 Add user2 in a circle notification should be appeared only at the first time.

### Actual Result
Every time user1 add user2 in a circle, user2 will receive notification. If we add user2 in 3 circles, user2 will receive 3 notifications.

### Version
v0.1

[2017-07-16 10:20] Qolzam opened #9 "Forget password"
Forget password page.

[2017-07-23 16:07] Qolzam opened #10 "Mention user in comment"
Mention a user in a comment using `@` for example @qolzam.

[2017-09-11 03:53] Qolzam opened #11 "Circle Name Exist"
Check if circle name exist before adding new circle.

[2017-10-05 12:26] Qolzam opened #12 "Debounce in resizing"
For better performance, resizing window should use debounce to reduce calling times.

[2017-10-05 13:48] QuantumInformation opened #13 "[discussion] AWS and graphql"
I have POC app I want to build am considering options. I was wondering why you choose Firebase vs other cloud providers, I myself am tempted to try to modify my own version this to work with AWS over with graphQL. What do you think of that approach?

[2017-10-06 05:20] Qolzam commented on #13
Actually I have planed to change structure so any one can use their own back-end. I'm figuring out how to make a clean structure. As I planned before the next I want to support AWS and I agree in some aspects it can be better choice.I am trying not to build an opinionated project.

[2017-10-06 07:11] Qolzam opened #14 "Upgrade to react version 16"
Facebook released [React v16](https://reactjs.org/blog/2017/09/26/react-v16.0.html) with new Fiber rendering pipeline allows for a lot of performance improvements. Master branch of react-social-network is React v16 59304fa86396376b5f1e3ce6ea6ee1662aa46831. We also keep react-social-network with react version 15 in [react-v15](https://github.com/Qolzam/react-social-network/tree/react-v15) branch.

[2017-10-06 07:12] #14 closed

[2017-10-06 08:03] QuantumInformation commented on #13
Check out this for ideas: https://serverless-stack.com

[2017-10-06 08:08] QuantumInformation opened #15 "[discussion] TypeScript or Create react app"
Would  TypeScript or Create react app be of interest? With TypeScript you don't need to worry about proptypes.

[2017-10-06 08:22] QuantumInformation commented on #15
There is also https://github.com/wmonk/create-react-app-typescript

[2017-10-06 10:02] Qolzam commented on #15
I really appreciate your awesome suggestion. Indeed it's what I love to do .First as a .NET fan I greatly agree moving to TS. There are lots of cool features that I love such as typesafe programming, strong-typing, interface, generic stuff and so on. As a result we have cleaner, more reliable and maintainable code. I need to move to TS because this project is bigger than what I thought first so it

[2017-10-06 10:05] QuantumInformation commented on #13
You can completely separate the frontend display logic from api calls. If you use typescript you can create AWS or firebase interface adaptors for API methods.

[2017-10-06 10:09] QuantumInformation commented on #13
Link: https://github.com/AnomalyInnovations/serverless-stack-com/issues/145

[2017-10-06 10:12] Qolzam commented on #13
Thats cool. It's exactly what I imagined. Let's do it. 👍

[2017-10-06 10:14] QuantumInformation commented on #13
If you want I can propose an interface to get started?

[2017-10-06 10:15] Qolzam commented on #13
Sure, that's great. You are awesome. 👍

[2017-10-06 10:23] QuantumInformation commented on #13
As  bare min:

[code]

[2017-10-06 10:25] QuantumInformation commented on #13
Concrete impl for AWS would be smth like https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/libs/awsLib.js

[2017-10-06 10:42] Qolzam commented on #13
Perfect 👍. I should open a service layer so the structure is similar to [this](https://github.com/Qolzam/aspnet-core-social-network/blob/master/Libraries/Green.Services). I would be happier with this.

[2017-10-09 10:47] QuantumInformation commented on #13
Even Azure could be a consideration as it has easier functions than AWS, ie can group per app, and simpler http endpoint wiring. Although serverless framework abstracts this for AWS deployment.

[2017-10-09 14:06] QuantumInformation opened #16 "Tslinting?"
This might help:
https://github.com/blakeembrey/tslint-config-standard

[2017-10-09 16:42] QuantumInformation opened #17 "[Idea] what about create react app instead of custom webpack"
FYI

https://github.com/wmonk/create-react-app-typescript

[2017-10-10 01:43] #16 closed

[2017-10-10 02:00] Qolzam commented on #17
Thanks! good idea.Could you please assist me with some tips to figure out how it would be necessary to replace webpack with react-scripts-ts?

[2017-10-10 07:39] QuantumInformation commented on #17
I'll get your project running and see if I can convert it if you like?

[2017-10-10 08:02] QuantumInformation commented on #17
I installed it by following these instructions:

[code]

and you will get

![image](https://user-images.githubusercontent.com/216566/31375426-6cdabc62-ad99-11e7-976a-681a4e1c3ae1.png)

You should be able to copy over the dependencies for the scripts (and other files like tslint, tsconfig) and run your project without using your custom webpack.

![image](https://user-images.githubusercontent.com/21

[2017-10-10 08:09] QuantumInformation opened #19 "Can't see followers"
### Steps

Follow a user:

![image](https://user-images.githubusercontent.com/216566/31375740-71fcbb4a-ad9a-11e7-8e64-9f627807ebff.png)

On the followed account you can't see the follower

![image](https://user-images.githubusercontent.com/216566/31375810-a9b7a50e-ad9a-11e7-967f-8ec1db25f344.png)

[2017-10-10 09:46] Qolzam commented on #19
Could you please give me the error from console browser and if it is your local?

[2017-10-10 09:49] Qolzam commented on #17
Perfect 👍 you are awesome . I like that.

[2017-10-10 09:49] QuantumInformation commented on #19
Its on local, if I click follow I get this error:

![image](https://user-images.githubusercontent.com/216566/31380266-bbfa95a6-ada8-11e7-99a5-0b74103619a3.png)

[2017-10-10 09:56] Qolzam commented on #19
Thanks! I hope this change work now.

[2017-10-10 09:59] QuantumInformation opened #20 "Feedback button doesn't do anything"
![image](https://user-images.githubusercontent.com/216566/31380734-169eba68-adaa-11e7-9107-f9faa7996894.png)

[2017-10-10 10:01] Qolzam commented on #20
I have no idea for feed back yet. I would be happy if you have any idea, share with me.

[2017-10-10 10:03] #19 closed

[2017-10-10 10:10] QuantumInformation opened #21 "[Discussion] Database thoughts and ideas."
One of the difficulties with building apps on top of Document DB's is querying. I'm torn between using AWS dynamoDB and RDS postgres on AWS.

Regarding this app Firebase have a new database called Cloud Firestore, which you might be interested in.

![image](https://user-images.githubusercontent.com/216566/31380880-9f15f7b2-adaa-11e7-8bc6-fd1f7a00ff00.png)

One thing that I would like to be able to

[2017-10-10 10:14] QuantumInformation commented on #20
I don't really see the point of it atm, but it could just be a form that a user could submit text, and then there is a google cloud function to send an email to the developer. I guess you could have a json config file that the cloud function reads to get the developer email.

One disadvantage of this is that you are tying yourself more to firebase, but I guess the app already is pretty tied to fir

[2017-10-10 10:21] QuantumInformation opened #22 "[Discussion] Database Security"
How do you protect users from writing to other users data, once they are authenticated?

[2017-10-10 10:25] Qolzam commented on #21
I need to check Cloud Firestore in details. I use tag (#tagname) for posts but not for query yet. However, it's not hard to do that. In my idea you just need to save to have tag branch in firebase and add tags in. For each tags you can add post Id. You also can set tags as a attribute for post and save all the tags in string. If you need a tag just search that tag in the text.

[2017-10-10 10:30] QuantumInformation commented on #19
Thx 4 quick fix

[2017-10-10 10:33] Qolzam commented on #22
There are some solution such as [firebase database rules] (https://firebase.google.com/docs/database/security/), security token and do some checks with cloud functions.

[2017-10-10 11:27] QuantumInformation opened #23 "[Feature Request] User account confirmation"
Via email if possible.

[2017-10-10 19:57] QuantumInformation opened #24 "[Question] Rational for circles"
Given that only google has this concept of circles, I'm wondering if circles is the best approach.

Instead of organising contacts under circles, perhaps it would be better to store a users contacts/followings in a flat structure. If further organisation would be needed later the user could tag the contact via a new table, for example usertags > user > Tag1 > [userID1,userID2]

Mind you this might

[2017-10-12 09:10] Qolzam opened #25 "Data structure optimization"
All the domain should have same structure and optimized for every kind of database.

[2017-10-13 17:19] QuantumInformation opened #26 "How do you deploy the application?"
Would be great to have some info on where and how you deployed a production build of this project.

I suppose various people would want to host it in various places.

https://firebase.google.com/docs/hosting/
http://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteHosting.html

[2017-10-13 17:50] QuantumInformation opened #27 "Better sourcemaps"
In chrome debugging isn't so good. I'll look at various sourcemap options.

Black and white source, and hovering over variables produces no output.

![image](https://user-images.githubusercontent.com/216566/31558887-947d694a-b046-11e7-930f-69caf9c58216.png)

[2017-10-13 18:13] QuantumInformation commented on #27
I tried various ones but no improvement.

https://webpack.js.org/configuration/devtool/

Perhaps https://github.com/wmonk/create-react-app-typescript would have the silver bullet.

[2017-10-14 11:45] QuantumInformation commented on #17
I had a bash at this

https://github.com/QuantumInformation/react-social-network/tree/CRA
but got this
![image](https://user-images.githubusercontent.com/216566/31575382-9c8d1990-b0dd-11e7-8590-fabf7727dc96.png)

[2017-10-15 01:12] Qolzam commented on #17
I built your tree but I didn't get that error. On the whole this tree needs many change to work. By the way I [edited this tree](https://github.com/Qolzam/react-social-network/tree/QuantumInformation_CRA) and it compiled. However I would have error in runtime. There are something that web pack does in the project which I can't figure out in [CRA tree](https://github.com/QuantumInformation/react-so

[2017-10-17 11:29] QuantumInformation commented on #17
Great work, maybe we can get another CRA expert to advise?

[2017-10-17 12:05] pronevich opened #28 "Question: auth reference vs auth() execution"
Maybe you know what the difference between this two examples:
[code]
https://github.com/Qolzam/react-social-network/blob/a40c18d2533b78554cff36044948c3b6044c7c3a/app/firebase/index.js#L22

[2017-10-19 03:09] Qolzam commented on #17
Perfect.
Sure there is supporting for [sass in create-react-app](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc).
For absolute path, [this idea](https://medium.com/@ktruong008/absolute-imports-with-create-react-app-4338fbca7e3d) could make it happen.
We also could use [this idea](https://github.com

[2017-10-19 09:33] QuantumInformation commented on #17
They finds look good.

[2017-10-20 12:24] sevastosm opened #29 "Can not close notifications from popup"
### Steps
Try to close notification from notification popup
### Expected Result
The clicked notification must closed
### Actual Result
Nothing happened
getting error in console (Uncaught TypeError: notifyActions.dbDeleteNotify is not a function)
### Version
x.y.z

### Testcase

[2017-10-26 10:41] sevastosm opened #30 "[BUG] Real time notifications not work (as in live example greensocial.herokuapp.com)"
### Steps
1 Running the app on my local machine
2 Opening two different browsers ,
3 Log in with a differed user account on each browser
### Expected Result
If a user votes a post the account in that posted must get a notification in the broswer.
### Actual Result
I have to refresh the page to get notification from other folowers
### Version
x.y.z

### Testcase

[2017-10-26 16:40] Qolzam commented on #30
Thank you for reporting 👍 . Moving getNotifications to the service layer and return promise from `on()` observable method of firebase can't call resolve() method for the next change. I used a callback function to solve it but following project principles it is anti pattern. So I let it open to find a better way.

[2017-10-27 00:31] toyeebgodo opened #31 "A user is receiving notifications for actions they carried out - the user ended up receiving my notifications"
### Steps
- My team mate, Ayomide and I created accounts to demo the app

- Ayomide then

1 Followed me
2 Commented on my post
3 Voted on my post

### Expected Result

There shouldn't have been any expected result because those are normal interactions by a user.

### Actual Result

Ayomide surprisingly received three notifications that read:

1 Ayomide Otunba follow you

2 Ayomide Otunba add comme

[2017-10-27 00:42] toyeebgodo commented on #24
As someone who is unfamiliar with Google+ let alone the circles concept, I found the follow implementation utterly confusing. I did  not understand what I was supposed to do to follow someone. Is it harder to implement a follow feature that just enables folks to hit the follow button? @Qolzam , I am a huge fan of your wonderful work so please pardon my concern. I humbly surmise that the simple "hi

[2017-10-27 01:04] toyeebgodo commented on #15
@QuantumInformation , I salute, respect, and admire your level of proficiency. I have an amateur and selfish concern about the introduction of Typescript and the discounting of Proptypes even though I have read your well founded opinions above. I have spent over 1200 hours in the last five months learning Javascript, React, GraphQL, and Apollo and I am just finding my feet. This project would have

[2017-10-27 02:33] Qolzam commented on #31
Thanks for reporting. I've followed your steps as a new user in a new repository of `master`, and I traced the procedure too. However, everything is going well. Please be sure you are using updated branch.

[2017-10-27 02:33] #31 closed

[2017-10-27 03:19] Qolzam commented on #15
@toyeebgodo  Thanks for using React Social Network. I agree with what you said. In the beginning I also had this attitude to follow javascript as whole the things for this project and most of the new users come back to javascript. However as the project growing I couldn't control changing structure and many bugs happened in runtime. Sure there are some good structures to implement javascript proje

[2017-10-27 03:34] Qolzam commented on #24
@QuantumInformation the thing you mentioned in my idea is like a graph with label.
- `userID-follow->userID2` or
- `userID2-follow->userID1` or
- `userID2<-bilateral->userID1`.
In other word as you said it could be in database like :
- `usertags > user > follow > [userID1,userID2]` or
- `usertags > user > follow > [userID2,userID2]` or
- `usertags > user > bilateral > [userID2,userID2]`
We also ca

[2017-10-27 03:37] Qolzam commented on #28
It's javascript stuff not about this project. And you have the answer in the comment. `Instead every time call firebaseAuth() just firebaseAuth.someMethod/Property`.

[2017-10-27 05:40] Qolzam commented on #15
I've created [js-react-social-tutorial](https://github.com/Qolzam/js-react-social-tutorial) repository. If you have any ideas or reporting bug I would be happy sharing with us.

[2017-10-27 08:43] QuantumInformation commented on #15
@Qolzam I doubt there is much worth in splitting the work over 2 repos, as it will dilute the effort needed to maintain 1 good version.

@toyeebgodo Typescript is simply a superset of javascript, there's not much extra to learn apart from typing.

[2017-10-27 08:48] toyeebgodo commented on #31
@Qolzam , thanks for your quick reply. The issue occurred several times while I was using the demo http://greensocial.herokuapp.com . I have not set the app up on firebase, yet.

[2017-10-27 08:53] Qolzam commented on #15
@QuantumInformation sure we don't work on two repository. Let me make it clearer that it's only for education or tutorial purpose. And new repository just for the users who are using javascript to run react. As this project migrate to typescript completely I think it's worth at least we have a backup of javascript codes so some users can develop themselves and contribute their ideas. Then they can

[2017-10-27 09:07] Qolzam commented on #31
Thanks. I have just synced [Demo](http://greensocial.herokuapp.com) with `master` repository.

[2017-10-27 09:12] toyeebgodo commented on #15
@Qolzam, I'm so appreciative of your unusual kindness. Thank you so much for adding this repository https://github.com/Qolzam/js-react-social-tutorial for educational reasons; I am in total support. You just made my life easier as a learner. @QuantumInformation, I see and empathize with your viewpoint too, however, please allow him keep the JS repo for the sake of all newbies out there . In all se

[2017-10-27 09:14] pronevich commented on #28
@Qolzam I remarked that you doing opposite: calling firebaseAuth() every time. So I assumed that evaluation has some reason, like every time firebase auth api check something

[2017-10-27 09:18] toyeebgodo commented on #15
@Qolzam your point, "However, for implementing some ideas and to make the project more flexible javascript doesn't make me happy. Moreover developing in typescript is much faster and cleaner than javascript. The next version of this project migrate to typescript with many new awesome stuff, cleaner code, high performance, with AWS and Firebase back-end, easy deploying and CLI to modify project eas

[2017-10-27 09:24] Qolzam commented on #28
Thanks you for supporting. It will be changed in the next version.

[2017-10-27 09:42] AyomideOtunba opened #32 "Tagline not visible on Profile page"
### Steps
1 While running a demo of the app on http://greensocial.herokuapp.com
2 I clicked on the edit profile button
3 I added a few lines about me to the Tagline
### Expected Result
I expected that my tagline will show up on my profile upon updating it.
Can you educate me on the purpose of the tagline as I thought it was meant to be like the bio feature on Instagram
### Actual Result
Nothing sh

[2017-10-27 23:07] toyeebgodo opened #33 "Firebase picture upload"
### Steps

I just finished installing and setting up the app through Firebase

I tried posting something

### Expected Result

I expected to be able to upload a picture from my computer to my newsfeed and avatar.

### Actual Result

I was able to post words to the newsfeed, however I was not able to upload any picture to neither my newsfeed nor my avatar. Please help.

### Version
x.y.z

### Testc

[2017-10-28 01:26] Qolzam commented on #33
Thanks for reporting 👍  problem has been solved.

[2017-10-28 01:26] #33 closed

[2017-10-28 01:43] Qolzam commented on #32
Tag line has been add to profile under the full name of user. Thank you for your consideration.

[2017-10-28 01:43] #32 closed

[2017-10-28 18:12] toyeebgodo opened #34 "Blank screen upon running web server"
### Steps

I git cloned the master in order to see the effects of your last commit relating to picture upload
Then proceeded to install and setup app through firebase
I ran web server

### Expected Result

I expected to see the create account / login page

### Actual Result

I did not see the create account / login page. I only saw a blank page. Please find attached printed screen below

### Versi

[2017-10-29 00:21] Qolzam commented on #34
Could you please send me the error in [console](https://developers.google.com/web/tools/chrome-devtools/console/). And please check if you created config file according installing instruction.

[2017-10-29 02:59] toyeebgodo commented on #34
@Qolzam, please find console error below. Thank you as always for your kind attention to this issue.
![myhustle-ts-error](https://user-images.githubusercontent.com/23325937/32140315-7e9723aa-bc5d-11e7-8ab1-304d0479a1ae.png)

[2017-10-29 05:27] Qolzam commented on #34
Error shows you can't connect to the `Firebase`. Please check your Firebase configuration file according [installation instruction](https://github.com/Qolzam/react-social-network#installing).

[2017-10-29 05:27] #34 closed

[2017-11-05 12:34] toyeebgodo commented on #13
@QuantumInformation , thank you so much for recommending  https://serverless-stack.com as I just spent the last 6 days learning and building out their scratch app with AWS. Have you modified your own version to work with AWS, yet? @Qolzam, are you planning more AWS serveless modifications of this project? Thank you guys for allowing me to look up to you. I am a newbie at this.

[2017-11-07 14:56] QuantumInformation opened #35 "What are your thoughts on TSX?"
I noticed that you use jsx instead.

[2017-11-08 01:01] Qolzam commented on #35
I suppose it's not so much different between them. I migrated all the components to TSX to have a cleaner code. The only different is in generic component<P,S> nothing changed.

[2017-11-11 12:30] QuantumInformation commented on #17
So I've been using https://github.com/wmonk/create-react-app-typescript with react 16 and material UI next for a custom project. It all works quite nice together. I think create-react-app-typescript would be one of the best way to make the config for this project cleaner and give you better test server out the box.

[2017-11-11 12:32] QuantumInformation opened #36 "[Feature request] Change Password screen"
It would be great for users to reset their password. I think it would be great to have this feature.

If you want I can do this for you for the client. Maybe you could do the firebase part?

[2017-11-11 12:33] QuantumInformation commented on #36
this could be done in a new branch?

[2017-11-12 01:02] Qolzam commented on #36
Thanks. In the new version I have added both reset password and User confirmation #23. I'm trying to make time to release this update.

[2017-11-19 13:49] toyeebgodo opened #37 "Image upload help needed"
### Steps

I tried uploading a profile image after running the app locally

### Expected Result

Image should be uploaded

### Actual Result

Image did not upload . Please teach me what I am missing. Does this app need to be connected to a Google cloud storage object for image upload to be implemented or it needs another server-less backend like AWS S3 bucket? Please guide me on how to go about it

[2017-11-19 20:07] toyeebgodo opened #38 "UserAvatar component errors"
![typeerror](https://user-images.githubusercontent.com/23325937/32994911-798f4cc2-cd6d-11e7-8bc4-196d6510cfd6.png)
### Steps
I was able to successfully create an account after my setting up Firebase config.
My partner tried to create an account and it resulted in a blank screen with the following errors.
### Expected Result
![useravatar error](https://user-images.githubusercontent.com/23325937/329

[2017-11-20 00:57] Qolzam commented on #38
I'm not sure which version of repository you are using, because when user register I fill the data. By the way I solved this problem which the data can be null. I hope it helps 5477197.

[2017-11-20 01:51] Qolzam commented on #37
I have checked both [Green Social](https://greensocial.herokuapp.com/) and my local repository with the last update but I haven't got this error. Please check if you are in the last commit of [react-social-network](https://github.com/Qolzam/react-social-network).

[2017-11-20 01:51] #37 closed

[2017-11-20 01:53] #38 closed

[2017-11-20 14:02] sevastosm commented on #17
I agree with Nikos,
Using create-react-app-typescript is more simple, instead of configuring the from scratch the webpack.

[2017-11-20 18:43] toyeebgodo commented on #34
Thanks for your swift response.

[2017-11-20 18:44] toyeebgodo commented on #38
Thank you as always.

[2017-11-20 18:52] toyeebgodo commented on #37
I have fixed the upload issue. I had to go to my project in the Firebase console. Clicked on "storage", then clicked on "Get started", and finally clicked on "Got it"  from the the security rules popup window. It then finally worked. Thanks for your patience and continued help.

[2017-11-20 18:54] toyeebgodo commented on #32
Thank you for your kindness.

[2017-11-22 12:30] toyeebgodo opened #39 "Notifications popover not working properly on mobile"
### Steps

I was testing the demo app on my iphone

I decided to view my notifications through my iphone

### Expected Result

I expected to
![notifications not showing](https://user-images.githubusercontent.com/23325937/33127510-082fd86c-cf89-11e7-81cf-35887211f9c7.png)
 be able to view all my notifications through the popover

### Actual Result

I could only see one notification out of the 8 not

[2017-11-30 20:29] toyeebgodo opened #40 "Any suggestions on implementing search?"
@Qolzam I know you wrote implementing search under your todo list, that said, as search is something that I am thinking of implementing at this time, I was wondering if you can direct me on how to go about it. In addition, you could direct me to a tutorial or something I can read to gain a better understanding.

I have looked into AWS Mobile Hub and Appsync. I have been thinking about the possibil

[2017-12-12 12:23] toyeebgodo opened #42 "The next version"
@Qolzam, you mentioned here (https://github.com/Qolzam/react-social-network/issues/15) that "**The next version of this project migrate to typescript with many new awesome stuff, cleaner code, high performance, with AWS and Firebase back-end, easy deploying and CLI to modify project easily,"** and you also said here (https://github.com/Qolzam/react-social-network/issues/36) that , **". . . In the

[2017-12-12 13:30] QuantumInformation commented on #42
It will be ready when it is ready.

[2017-12-13 03:03] Qolzam commented on #42
I appreciate your consideration. Regardless of being too busy nowadays, There are some issues need to be considered more as the next version is completely different with demo code. To be honest for the next version I've spent more time to have a reliable code (I've tried my best!).

It would be more logical than current version in data structure and performance. I have changed the code many times

[2017-12-13 05:20] toyeebgodo commented on #42
@Qolzam , you are simply amazing.

[2017-12-20 13:48] sevastosm opened #43 "Running karma test getting errors"
### Steps

### Expected Result
✔ 28 tests completed
### Actual Result
✔ 26 tests completed
✖ 2 tests failed

ERROR in ./app/components/Master/Master.jsx
ERROR in ./app/tests/reducers/authorizeReducer.test.jsx
### Version
x.y.z

### Testcase

[2017-12-20 15:00] QuantumInformation commented on #43
Feel free to add a PR

[2017-12-21 05:29] Qolzam commented on #43
@sevastosm Thanks for consideration. Because of some changes in the main structure former tests can't be supported any more. As @QuantumInformation said you can help with adding PR. I appreciate your support.

[2018-01-07 14:25] metalray7mr opened #44 "Question: How's database structure and security rules?"

[2018-01-08 01:00] Qolzam commented on #44
@metalray7mr Thank you for your question. As your question talk generally, could you please give me more detail that how I can help you?

[2018-01-08 11:13] sevastosm opened #45 "Debugging with vs code on Windows machine"
### Steps
Try to debug the application with Debugger for Chrome plugin in vs code
### Expected Result

### Actual Result
Break points ignored
### Version
x.y.z

### Testcase

[2018-01-08 11:17] QuantumInformation commented on #45
Not really related to this lib

[2018-01-08 14:34] Qolzam commented on #45
@sevastosm Thanks you for your consideration. Could you please give us more details how it could be relate to this project and if this feature has any benefit for this project? Thanks again!

[2018-01-10 17:41] metalray7mr commented on #44
just wanted to  know more about  how to manage security rules in such a complex project. Can you make rules public?

[2018-01-14 08:30] Qolzam commented on #5
Merged.

[2018-01-14 08:30] #5 closed

[2018-01-14 08:30] Qolzam commented on #6
Merged.

[2018-01-14 08:30] #6 closed

[2018-01-14 08:31] Qolzam commented on #9
Merged.

[2018-01-14 08:31] #9 closed

[2018-01-14 08:32] Qolzam commented on #20
Merged.

[2018-01-14 08:32] #20 closed

[2018-01-14 08:32] Qolzam commented on #23
Merged.

[2018-01-14 08:32] #23 closed

[2018-01-14 08:32] Qolzam commented on #24
Merged.

[2018-01-14 08:32] #24 closed

[2018-01-14 08:33] Qolzam commented on #27
Merged.

[2018-01-14 08:33] #27 closed

[2018-01-14 08:33] Qolzam commented on #35
Merged.

[2018-01-14 08:33] #35 closed

[2018-01-14 08:33] Qolzam commented on #36
Merged.

[2018-01-14 08:33] #36 closed

[2018-01-14 08:34] Qolzam commented on #42
Merged.

[2018-01-14 08:34] #42 closed

[2018-01-17 09:45] sevastosm commented on #45
The problem was the same as the #27 issue thanks again @Qolzam

[2018-02-01 07:59] #45 closed

[2018-02-04 09:48] Qolzam commented on #15
Moved on create-react-app and typescript merged.

[2018-02-04 09:48] #15 closed

[2018-02-20 13:46] sevastosm opened #46 "[BUG] Provider icons icons not appear in login page browsing with Firefox"
### Steps
Loading login page with Firefox
### Expected Result
To see icons fro googe + , github, facebook, etc
### Actual Result
icons not appear
### Version
x.y.z

### Testcase

[2018-02-20 15:48] Qolzam commented on #46
@sevastosm I appreciate your support. [It is not valid for data URIs to contain # characters](https://stackoverflow.com/questions/30676125/svg-as-data-uri-triggers-xml-parsing-error-in-firefox). It's resolved 👍

[2018-02-20 15:48] #46 closed

[2018-02-25 02:11] Qolzam commented on #39
Resolved in the `next version` and `material-ui` update.

[2018-02-25 02:11] #39 closed

[2018-03-03 17:26] yTakkar opened #47 "Not an issue."
I also created a social-network with React. It's called [React-Instagram-Clone-2.0](https://github.com/yTakkar/React-Instagram-Clone-2.0).
Please check it out & feedback will be appreciated!!
:)

[2018-03-03 21:08] #47 closed

[2018-03-17 11:49] Qolzam commented on #4
Merged with **version next**

[2018-03-17 11:49] #4 closed

[2018-03-18 07:24] Qolzam opened #48 "[Upgrade]Moving from redux-thunk to redux-observable/redux-saga"
[redux-thunk](https://github.com/gaearon/redux-thunk) is sweet simple and easy to work. However since project grow it's more difficult to manage side effects and we need more complicated solutions but reliable.

 There are two remarkable options [redux-observable](https://redux-observable.js.org/) and [redux-saga](https://redux-saga.js.org/). Each has it's own advantage but [redux-saga](https://re

[2018-03-24 10:26] #26 closed

[2018-03-24 13:42] #12 closed

[2018-03-24 13:42] #25 closed

[2018-03-24 13:46] Qolzam commented on #30
Solved by implementing [redux-saga channel](https://redux-saga.js.org/docs/advanced/Channels.html) here #48 .

[2018-03-24 13:46] #30 closed

[2018-03-24 13:47] Qolzam commented on #28
Merged in next version.

[2018-03-24 13:47] #28 closed

[2018-03-28 14:05] Qolzam opened #49 "[Enhancement] Apply immutable js"
Growing project and data handling immutable objects is more complicated. We also ca have [Other benefits](https://redux.js.org/recipes/using-immutable.js-with-redux) by using [immutable JS](https://facebook.github.io/immutable-js/) .

[2018-04-02 18:21] upwardstudios opened #50 "[Bug] Get compile error on npm start"
react-social-network-next/src/api/FileAPI.ts
(39,5): Type '(this: FileReader, readerEvent: FileReaderEvent) => void' is not assignable to type '((this: FileReader, ev: ProgressEvent) => any) | null'.
  Type '(this: FileReader, readerEvent: FileReaderEvent) => void' is not assignable to type '(this: FileReader, ev: ProgressEvent) => any'.
    Types of parameters 'readerEvent' and 'ev' are incompati

[2018-04-03 06:24] Qolzam commented on #50
Thanks for report but I really can't understand what you mean by that. Is it compile error? What is the steps I can reproduce this error?

[2018-04-03 06:37] upwardstudios commented on #50
Just happens on the last step when I run non start, browser opens up and shows this along with the console

Sent from my iPhone

[2018-04-03 07:02] Qolzam commented on #50
I have done 3 steps:

[code]

It's compiling successfully and also I created a post with photo. Everything seems well.
Please let me know how can I help you more.

[2018-04-04 01:56] Qolzam commented on #50
Issue with `npm install` has been resolved. I'm going to close this issue.

[2018-04-04 01:56] #50 closed

[2018-04-06 17:12] upwardstudios opened #51 "Exception after latest build"
on npm start exception thrown:

Failed to compile
/react-social-network-next/src/containers/login/LoginComponent.tsx
(261,88): Argument of type '(theme: any) => { textField: { minWidth: number; marginTop: number; }; contain: { margin: string;...' is not assignable to parameter of type 'Record<"link" | "contain" | "paper" | "textField" | "bottomPaper", CSSProperties> | StyleRulesCal...'.
  Type '(t

[2018-04-07 05:38] Qolzam commented on #51
Thanks for reporting 👍. I have just updated the branch. I'm going to close issue. Let me know if any issue.

[2018-04-07 05:38] #51 closed

[2018-04-22 08:53] indokely opened #52 "environment.dev.ts (5,13): " should be '"
Hello , I am getting below error... Please help

ts-loader: Using typescript@2.8.3 and C:\Users\handm\Dropbox\MundelProjects\React\GitProjects\react-social-network\tsconfig.json

Could not find implementations for the following rules specified in the configuration:
    ter-indent
    no-extra-boolean-cast
Try upgrading TSLint and/or ensuring that you have all necessary custom rules installed.
If T

[2018-04-22 09:55] Qolzam commented on #52
Hello @indokely, seems when you copy/paste firebase configuration, you forget to replace `"` with `'` . Following [tsling rules](https://palantir.github.io/tslint/rules/) in this project you only can use `'` instead of `"`. If you are not happy with that rules you can try change the rules in [tslint.json](https://github.com/Qolzam/react-social-network/blob/next/tslint.json) file in project root fo

[2018-04-22 09:55] #52 closed

[2018-05-04 01:18] Qolzam opened #53 "Who's using React Social Network?"
Drop a name and a link!

[2018-05-09 09:35] etairi opened #54 "[Enhancement] Move localization to redux-saga"
Move localization support from redux-thunk to redux-saga.

[2018-05-10 03:46] Qolzam commented on #54
Localization moved according to the #48 enhancement. Let me know if you have issue. Thanks!

[2018-05-10 03:46] #54 closed

[2018-05-16 04:38] rohan-paul opened #55 "yarn install failing"
``yarn install`` failing giving the error as -

The engine "node" is incompatible with this module. Expected version "8.9.4".

I have the latest node version 10.1.0

[2018-05-16 04:43] rohan-paul opened #56 "Cannot find module 'layouts/IconButtonElement'."
I updated package.json to latest `"node": "10.1.0"`

Now after running ``npm start`` I am getting the below

Failed to compile

[code]

[2018-05-16 05:31] Qolzam commented on #55
Please be sure your node version is matched in [package.json](https://github.com/Qolzam/react-social-network/blob/next/package.json#L105) file.

[2018-05-16 05:31] #55 closed

[2018-05-16 08:40] Qolzam commented on #56
Thanks for reporting. I have just [updated the package](https://github.com/Qolzam/react-social-network/commit/f1fb1a60786889908b28630aad58959dc01cd284) 8184eb0  please update your repository and try again. Let me know if any issue.

[2018-05-16 09:05] rohan-paul commented on #56
Now I am getting

[code]

[2018-05-16 10:05] Qolzam commented on #56
I guess you have not used `git pull` from repository to update your `local repository`. As I have upgrade `material-ui` to `@material-ui/core` you can't have `material-ui` as a reference any more. Please pull repository again and check if you can see `@material-ui/core` in `CommentComponent.tsx`. Thanks!

[2018-05-16 18:38] rohan-paul commented on #56
I did a fresh git-clone of this repo and ran ``npm i`` and ``npm start`` and getting the below error again . My environment is Ubuntu 16.04

[code]

[2018-05-17 15:38] Qolzam commented on #56
I have done 3 steps:

[code]

Everything seems well but I can't reproduce your issue. Please help to find if the file exist in layouts folder.

[2018-05-21 20:24] easonychang opened #57 "Do I need the backend code?"
I am using react-social-network, and it seems like it's good standing alone, after connecting to a cloud firestore database. But someone else said this repo cannot be used stand alone unless pairing with the  https://github.com/Qolzam/firestore-social-backend repo.

[2018-05-22 01:11] Qolzam commented on #57
Hello @easonychang , thanks for pointing this issue. I can tell you is stand alone repo why? because whole the services are using interfaces  from [core services](https://github.com/Qolzam/react-social-network/tree/next/src/core/services). It means you are able to implement your own service and [inject to the container](https://github.com/Qolzam/react-social-network/blob/next/src/data/firestoreCli

[2018-05-22 12:27] Qolzam commented on #56
No reproduce. I'm going to close. Let me know if any issue.

[2018-05-22 12:27] #56 closed

[2018-05-24 00:41] easonychang commented on #57
So I think my understanding was that this repo is stand alone, and I don't really need the firestore-social-backend repo along with it to be able to interact with the database that I have configured on firebase.

[2018-05-24 01:09] Qolzam commented on #57
Sure at least you need to have a back-end and database to store the data. However for [firestore-social-backend](https://github.com/Qolzam/firestore-social-backend) is only configuration using [Firestore Database](https://firebase.google.com/docs/firestore) not really huge backend to manipulate the data. Almost manipulating data is done on this repository as a [Firestore Data Client](https://githu

[2018-05-24 18:38] easonychang commented on #57
I see. I followed the instructions on your medium post, was able to configure it with firestore even without firestore-social-backend repo. Which was why I was a little bit confused of why I needed the backend repo to have the app running.

[2018-05-31 14:22] Qolzam commented on #57
I am going to close this issue. Let me know if any issue. Thanks!

[2018-05-31 14:22] #57 closed

[2018-06-13 18:21] KaMeHb-UA commented on #53
AllBooms

https://allbooms.com

[2018-06-13 18:59] KaMeHb-UA opened #59 "Question: How to add new language and set it as a default?"
I had look on `src/reducers/locale/languageType.ts` and found my language described (russian), so I created `src/locale/ru.json` similar to `src/locale/en.json` and changed exported `environment.settings.defaultLanguage` to `LanguageType.Russian` in `src/config/environment.dev.ts`, but got next error:
[code]
What I'm doing wrong?

[2018-06-14 04:45] Qolzam commented on #59
Thanks for asking!😀  I assume that you are using the last version of `React Social Network`. To set a new language:

1. Create a copy of `en.json` in [locale folder](https://github.com/Qolzam/react-social-network/tree/next/src/locale) then rename with the convention [{country language code}](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes).json. ( For your case the name of your file would be

[2018-06-16 16:22] rakshitmidha opened #61 "Unhandled Rejection (Error): firestore/getUserProviderData document of userProviderRef is not exist new SocialError"
Unhandled Rejection (Error): firestore/getUserProviderData document of userProviderRef is not exist
new SocialError
src/core/domain/common/socialError.ts:4
  1 | export class SocialError extends Error {
  2 |   private _isError: Boolean
  3 |

  5 |     super(_message)
  6 |     this._isError = true
  7 |   }

[2018-06-26 09:23] #61 closed

[2018-07-10 05:12] crappycocco opened #71 "Friends post appears in home page (but without his/ her profile image)"
### Steps
Login, Follow user, Friends post appears in home page (but without profile image)
### Expected Result
Friends post should appear in home page with his / her profile image
### Actual Result
Friends post appears in home page, but without his / her profile image
### Version
1.0.0

### Testcase

[2018-07-10 05:17] crappycocco opened #72 "Facebook Share is not working"
### Steps
Post, click on share button, popup opens, click 'Share in Facebook'
### Expected Result
FB Login prompt should open
### Actual Result
Sorry, something went wrong.
We're working on getting this fixed as soon as we can.
### Version
1.0.0

### Testcase

[2018-07-10 09:00] crappycocco commented on #71
@Qolzam

[2018-07-10 09:47] Qolzam commented on #71
Thanks for reporting. Issue has been resolved. Please let me know if you any other issue. Thanks again!

[2018-07-10 10:15] crappycocco commented on #71
@Qolzam thanks, will test and let you know

[2018-07-10 10:17] crappycocco opened #73 "Logout while being under the Profile page throws exception."
### Steps
Logout while being under the Profile page
### Expected Result
Logout
### Actual Result
Below exception in console (visible only in developer mode)
TypeError: Cannot read property 'avatar' of undefined
    at Function.mapStateToProps [as mapToProps] (StreamComponent.tsx:292)

### Version
1.0.0

### Testcase

[2018-07-10 10:18] crappycocco commented on #72
@Qolzam

[2018-07-10 10:40] crappycocco opened #74 "Console Warning for deployed app in firebase"
### Steps
just push the latest code to firebase hosting
### Expected Result
App shows no warnings
### Actual Result
It looks like you're using the development build of the Firebase JS SDK.
When deploying Firebase apps to production, it is advisable to only import
the individual SDK components you intend to use.

For the module builds, these are available in the following manner
(replace <PACKAGE>

[2018-07-10 10:41] crappycocco commented on #74
@Qolzam

[2018-07-10 11:02] Qolzam commented on #74
Issue has been resolved. If the issue is resolved please close the issue. Thanks!

[2018-07-10 11:02] Qolzam commented on #73
Issue has been resolved. If the issue is resolved please close the issue. Thanks!

[2018-07-10 11:03] #71 closed

[2018-07-10 11:04] Qolzam commented on #72
Is it in production mode ?

[2018-07-10 11:06] crappycocco commented on #72
In both modes

[2018-07-10 19:16] crappycocco commented on #72
@Qolzam any updates on this, or is the react-share (2.2.0) broken?

[2018-07-14 14:44] crappycocco commented on #72
@Qolzam , any updates?

[2018-07-14 16:29] Qolzam commented on #72
Hope new change help you. Thanks!

[2018-07-15 20:13] crappycocco commented on #72
@Qolzam - that worked, closing

[2018-07-15 20:13] #72 closed

[2018-07-16 01:23] ghost opened #75 "Clicking on vote notification text goes to empty screen"
### Steps
Ask a Friend to vote on your post, you get a notification, click on it (notification text) and page becomes an empty screen
### Expected Result
Dont know
### Actual Result
Empty Screen
### Version
1.0.0

### Testcase

[2018-07-16 01:56] Qolzam commented on #75
Issue has been resolved. Thanks for reporting. Let me know if any other issue.

[2018-07-17 05:59] kalmdev commented on #53
I am currently developing on top of this. I used to own a PHP based network but it failed and I was just wasting too much money on it for no reason.

[2018-07-21 03:24] #75 closed, assigned to nobody

[2018-08-03 07:18] KaMeHb-UA opened #77 "[Security] Environment file is visible in both production and development"
Is it normal that I can see my apiKey (both in production and in dev envs)? Is this not secret?
![deepinscreenshot_20180803101444](https://user-images.githubusercontent.com/20382677/43629542-33860f78-9706-11e8-811d-cfcbf2dfd118.png)
If it is normal, what rules need to be configured in firebase?
For my purpouses I need to generate secret access token for user and save it to firebase. But.. it will

[2018-08-03 07:29] Qolzam commented on #77
Thanks for reporting. Sure it's not normal. I will investigate in a few days. Please set a clear title to show the content. Thanks again!

[2018-08-03 07:32] KaMeHb-UA commented on #77
Screen is provided from production build

[2018-08-03 07:43] Qolzam commented on #77
Please pull new change and try again. Let me know if any issue. Thanks!

[2018-08-03 08:16] KaMeHb-UA commented on #77
I've pulled your commit. But env files still exists in service worker. Then I've cleared both browser and service worker cache and it appeared in `/static/js/config` again

[2018-08-03 08:33] KaMeHb-UA commented on #77
Yeah, of course!
I've done next:
1. Pulled latest commit from https://github.com/Qolzam/react-social-network.git `next`
2. Merged `next` with my own tree
3. Created production build with `yarn build`
4. Launched app with `serve -s build`
5. Looked to sources tab in Chrome Dev Tools
6. Seen only builded page
7. Looked to service worker files
8. Found env files
9. Cleared service worker resources wi

[2018-08-03 09:07] Qolzam commented on #77
Thanks a lot. Not sure why I see different but I found the reason. The source map files appear in Chrome so you can see all the source files. Here is the good [discussion](https://github.com/facebook/create-react-app/issues/1341) about this situation . So I am going to close this issue but let me know if any question. Thanks again!

[2018-08-03 09:07] #77 closed

[2018-08-03 09:09] KaMeHb-UA commented on #77
So what to do? How about security? Base will be open for anyone?

[2018-08-03 09:35] Qolzam commented on #77
Please read the [discussion](https://github.com/facebook/create-react-app/issues/1341) in details. there are enough solution for you to remove the source map files.

[2018-08-03 09:37] KaMeHb-UA commented on #77
Yeah, I've read the discussion but forget to remove the comment. Thanks a lot!

[2018-08-03 13:37] KaMeHb-UA opened #78 "[Security] DB requests on client-side"
#77 is fixed but I still can get apiKey, db name and other secrets just by looking to the network requests made. It is real security bug, and must to be fixed. I am already working in this case, but I do not understand TypeScript as it should, so new components I writing in pure js. And it's so hard to work with someone's code, while you are not qualified with. So it may goes for a few weeks. I ne

[2018-08-03 14:02] Qolzam commented on #78
Thanks for asking.
You can not avoid appearing your api keys in your code or the network. It's not security bug. Firebase needs these information to connect. Instead you can set some security rules so users only access to the data they should access. It's why we have [Firestore Rules](https://firebase.google.com/docs/firestore/security/get-started). I haven't publish security rules but It would be

[2018-08-03 14:09] KaMeHb-UA commented on #78
Ok, thanks for a reply. But I ask that you keep this issue open. Thanks!

[2018-08-03 15:06] Qolzam commented on #78
This issue relate to #22 which you can follow. I'm going to close here.

[2018-08-03 15:06] #78 closed

[2018-08-03 15:07] Qolzam commented on #44
This issue relate to #22 which you can follow any update.

[2018-08-03 15:07] #44 closed

[2018-08-14 10:04] KaMeHb-UA commented on #22
What rules must to be deployed in production? If I use own rules, there are more errors than I can see. Please, create usable production rules before release 1.0

[2018-08-14 11:19] KaMeHb-UA opened #79 "[Discussion] Database optimization"
There is few questions:
Comments duplicates in posts.. Is it really needed? Why shoud it be if client can query comments from `/comments` collection with sort and limit?
User data in posts and comments data. This is overingeneering, I think. Can client write only own id? This may be more scalable solution if there is no need to get all the comments with all the user data, isn't it?

[2018-08-14 13:06] Qolzam commented on #79
@KaMeHb-UA Thanks for your questions. Sure there are more ways to optimize. Not only comments also posts and users, etc. However there are so many details need to be covered which is impossible with my narrow time. Not sure why people only want to to work and start the project again by themselves, instead of contributing like a team work so we can cover more features and optimizations.

Anyway, I

[2018-08-14 13:40] KaMeHb-UA commented on #79
@Qolzam Will be able I to contribute pure JS code?

[2018-08-14 13:52] Qolzam commented on #79
@KaMeHb-UA I really appreciate your contribution as always 😀 👍 . There is no different between TS and JS. only type that make the job easier and faster. In my opinion you need one or two days to get basic TS and it's enough for start.

[2018-09-05 12:27] steveg8879 commented on #53
I'm trying to build a brand new app using this as a basis.  I tried using the JS version of the project but ran into to many issues with deprecated files and dependencies.  I'm going to try and leverage this project (even though I'm not particularly familiar with typescript). Regardless, fantastic job on this.  Keep up the good work.

[2018-09-26 15:14] Qolzam opened #81 "[Feature][Admin][General] Social Information"
A general information about social like company, social name, default language, ....

[2018-09-26 15:19] Qolzam opened #82 "[Feature][Admin] Data base config"
Edit settings for Algolia Search Engine

[2018-09-27 01:19] Qolzam opened #83 "[Feature][Admin] Authorization"
Setting user authentication:
- [ ] User login method (email/sms) verification

[2018-09-27 01:23] Qolzam opened #84 "[Feature][Admin] Storage Setting"
- [ ] Storage limitation

[2018-09-27 01:26] Qolzam opened #85 "[Feature][Admin] Theme Setting"
- [ ] Set primary and main color
- [ ] Set default images (cover profile, app icon, header, ...)

[2018-09-27 01:34] Qolzam opened #86 "[Docs] User Guid"
- [ ] Work with posts
- [ ] Work with comments
- [ ] Work with user
- [ ] Using Search
- [ ] Using chat service
- [ ] Using tag
- [ ] Working with profile

[2018-09-27 02:48] Qolzam opened #87 "[Docs] Developer Guid"
- [ ] Source code organization. Architecture of React Social
- [ ] Actions
- [ ] Reducers
- [ ] Add new page menu
- [ ] The React Social Data Access Layer
- [ ] Data Validation
- [ ] Inversion of Control and Dependency Injection
- [ ] How do I register new routes?
- [ ] Possible ways to contribute
- [ ] Contributing to the documentation
- [ ] Working with source code and contributions
- [ ] Sharin

[2018-09-27 02:58] Qolzam opened #88 "[Admin] Register/Login"

[2018-09-27 07:53] Qolzam opened #89 "[Feature] OAuth Login"
- [ ] By Facebook
- [ ] By Twitter
- [ ] by Github

[2018-09-27 09:58] Qolzam opened #90 "[Feature] OAuth Login"
- [ ] By Facebook
- [ ] By Twitter
- [ ] by Github

[2018-09-27 09:59] #89 closed

[2018-09-28 02:32] Qolzam opened #91 "[Improvement] User identifier as a root path for storage"

[2018-09-28 02:44] Qolzam opened #92 "[Feature][Premium] Moderation System"
Control users accessibilities with privileges calculated by reputation users gain by attracting more audiences.

[2018-09-28 02:58] Qolzam opened #93 "[Feature][Premium] Bonus system"

[2018-09-28 03:03] Qolzam opened #94 "[Feature][Premium] Blockchain & Crypto point system"

[2018-09-28 03:09] Qolzam opened #95 "[Feature][AI][Premium] Post Discovery"
Understanding topics and keywords of user's contents.
- [ ] Implement model
- [ ] Verify model performance
- [ ] Report performance
- [ ] Integrate to Algolia
- [ ] Integrate to Elastic search
- [ ] Integrate to React Social

[2018-09-28 07:20] Qolzam opened #96 "[Feature][AI][Premium] User Discovery"
Found the similarity between user profile.
- [ ] Implement model
- [ ] Verify model performance
- [ ] Report performance
- [ ] Integrate to Algolia
- [ ] Integrate to Elastic search
- [ ] Integrate to React Social

[2018-09-28 07:38] Qolzam opened #97 "[Feature] Plugins"

[2018-09-28 15:49] huynhnguyen commented on #95
hi Amir,
It seems like I need write permission to update it.
can you grant that write permission to me.

[2018-09-29 12:54] HuyQLuong commented on #11
Can you give me more information about this issue ?

[2018-10-06 10:09] huynhnguyen commented on #95
understanding topics and keywords of user's contents.

[2018-10-06 10:10] huynhnguyen commented on #96
predict the similarity among user profiles.

[2018-10-06 10:13] huynhnguyen opened #98 "[Feature][AI][basic] keywords extraction from user's contents"

[2018-10-06 10:14] huynhnguyen commented on #98
we make this feature as a facility of elastic search

[2018-10-06 10:16] #98 closed, assigned to nobody

[2018-10-06 10:41] Qolzam opened #99 "[Feature][AI][Premium] Location discovery"
Recommend locations to users based on their activities.
- [ ] Implement model
- [ ] Verify model performance
- [ ] Report performance
- [ ] Integrate to Algolia
- [ ] Integrate to Elastic search
- [ ] Integrate to React Social

[2018-10-22 12:50] laddha-adi commented on #61
Hi! @Qolzam, I got the same error while running the app with my firebase account. Though it works perfectly fine with the default account (test-4515a). Can you please suggest any possible source of this problem or any possible solution. TIA.

[2018-10-23 01:26] Qolzam commented on #61
@laddha-adi thanks for reporting. I have just tried new clone of project with new account of Firebase following [The Guid](https://medium.com/red-gold/create-social-network-by-react-js-fe60010a32e6). Project loaded successfully. Please be sure you did all configuration on Firebase following [The Guid](https://medium.com/red-gold/create-social-network-by-react-js-fe60010a32e6). If you face with the

[2018-11-25 01:55] Qolzam opened #103 "[Feature][AI][Premium] Google NLP integration"
- [ ] Language detection:
     * Given an input text content, output the dominant language of the text.
     *  Output format: TBU
     *  Example: TBU
   - [ ] Entity detection
     * Given the input text, output the entity list
     * Output format:L TBU
     * Example: TBU
   - [ ] Key phrase extraction
     * TBU
   - [ ] Sentiment analysis
     * TBU
   - [ ] Syntax analysis
     * TBU
   - [

[2018-11-25 02:00] Qolzam opened #104 "[Feature][AI][Premium] Moderator"
- [ ] Fraud content detection
 - [ ] Fraud content detection (deep representation)  (Premium License)
 - [ ]  Fake user detection
 - [ ] Fake user detection (deep representation) (Premium License)
 - [ ] Moderator content rating
 - [ ] Moderator content rating (deep representation) (Premium License)
 - [ ] Appropriate content checking to spot out bad words
 - [ ] Controversy content detection base

[2018-12-04 20:40] Sir-Ls commented on #53
This project is awesome everything works, well except for during npm install, 'synk protect' seems to throw an error at the end. I can provide more information if you'd like. Otherwise this is a great starting point for an webapp idea that I have and I'm familiar with the environments used in creation. Thanks so much for making this!

[2018-12-09 20:41] iamezell commented on #61
I had the same issue it turns out it was because I already had users in the database before so the call to getUserProviderData did not work because the users I had in the database did not go through the proper registration. Once I deleted and registered through the site it worked. May not be your issue but it worked for me :)

[2018-12-10 02:23] Qolzam commented on #61
Thanks for help 😀. I did not notice that. Can you give me more details how you registered the user which that was not proper way? We need to handle this error in better way.

[2018-12-10 02:26] laddha-adi commented on #61
I got the error when I edited the database manually from firebase console. Maybe it is due to some type checking error. I am not sure which, but at least one of the field gave the error when left null.

[2019-02-03 16:20] bradenboothby opened #105 "Users Cannot Follow Each Other"
**Describe the bug**
When a user presses on the follow button, nothing happens.

**To Reproduce**
I don't know if this is only on my app or what, but please help. All I do is click on follow and nothing happens.

**Expected behavior**
The users should be able to follow, but they cannot.

**Screenshots**
<img width="1440" alt="screen shot 2019-02-03 at 11 19 24 am" src="https://user-images.githubus

[2019-02-04 00:03] #105 closed, assigned to nobody

[2019-02-06 14:24] Seekeer opened #106 "ASP.net core backend status"
For now only firebase backend is working? What  about asp.net core? What status does it have?

[2019-02-20 11:57] tthdvd opened #107 "Cannot run npm start"
**Describe the bug**
When i try to run npm start failed to compile. I completed the installation steps using npm not yarn regarding to: https://medium.com/red-gold/create-social-network-by-react-js-fe60010a32e6

**To Reproduce**
Steps to reproduce the behavior:
1. Go to root folder
2. run npm start

**Additional context**
The error:
[code]

[2019-03-01 02:01] thierry-tct commented on #107
Hello, I had the same issue.
This was fixed when I upgraded @types/react-redux to last version with
[code]

[2019-03-14 08:43] kasunsampath opened #108 "TypeError: Cannot read property 'appname' of undefined"
I am getting this error when trying to run npm start.

`Error: Error occurred while parsing your function triggers.

TypeError: Cannot read property 'appname' of undefined
    at Object.<anonymous> (D:\works\TopTeller\New folder\react-social-network\firestore-social-backend\functions\dist\index.js:1:5515)
    at o (D:\works\TopTeller\New folder\react-social-network\firestore-social-backend\functio

[2019-03-14 09:49] #108 closed, assigned to nobody

[2019-03-14 12:48] kapilip commented on #107
@tthdvd You can fix it using yarn instead of npm i.e. use yarn install followed by yarn start. Actually npm start uses typescript 3.3.333 which breaks the older version of react-redux.
You can also upgrade the react-redux to 7.0.1 as mentioned by @thierry-tct to resolve this issue.

[2019-03-14 15:46] tthdvd commented on #107
yarn install solved the problem

[2019-03-15 02:40] Qolzam opened #109 "[Update Version] Move to version 0.7.0"
### Version 0.7.0 changes

- [x] Improve authentication to be more independent to Firebase Authentication
- [ ] Use separate custom OAuth
- [x] UI changes
- [x] Adding chat
- [x] Change directory structure
- [x] Update packages to new version
- [x] Fixing bugs

[2019-03-15 02:41] Qolzam commented on #107
The problem is solved so I close here. However about the problem with npm I will update with version 0.7.0  #109

[2019-03-15 02:41] #107 closed, assigned to nobody

[2019-03-25 09:17] EHRdev opened #110 "Help! Error "has no exported member 'ReactReduxContextValue'""
I followed all the steps and I do not know what else to do

![abc](https://user-images.githubusercontent.com/40396000/54907975-740f1e00-4eac-11e9-8d09-0b37ee5d6566.png)

![abc2](https://user-images.githubusercontent.com/40396000/54908013-8b4e0b80-4eac-11e9-94eb-de4d942b9787.png)

[2019-03-25 13:43] Qolzam commented on #110
Issue has been resolved. Please let me know if any issue. Thanks!

[2019-03-26 22:38] EHRdev commented on #110
Amazing! Thank you.

[2019-03-26 22:38] #110 closed, assigned to Qolzam

[2019-04-02 17:46] amorimjr opened #111 "Uncaught TypeError: Cannot read property '0' of undefined"
When I follow the user I get this error

line 182: "followUser!(followingCircle![0], { avatar, userId, fullName })"

Uncaught TypeError: Cannot read property '0' of undefined
 at UserBoxComponent.tsx:182
 at Object.<anonymous> (react-dom.production.min.js:14)
 at d (react-dom.production.min.js:15)
 at react-dom.production.min.js:15
 at T (react-dom.production.min.js:17)
 at x (react-dom.production

[2019-04-14 22:22] TylerJKing opened #112 "Failed to compile"
When running 'yarn start' for this portion of the project, it gives "Starting the development server". After a while, it says "Compiling" before failing with the following error:

Failed to compile.

/home/tking/work/src/github.com/TylerJKing/react-social-network/src/components/post/PostComponent.tsx
(415,50): Argument of type '(match: string, i: string) => Element' is not assignable to parameter

[2019-04-15 02:24] Qolzam commented on #112
Could you run the project by **npm**. Following below command to reinstall node modules too :
[code]

[2019-04-15 03:56] TylerJKing commented on #112
Thanks, works now!

[2019-04-15 03:56] #112 closed, assigned to nobody

[2019-04-19 01:56] rajabhinav99 commented on #50
Cannot find module './webpack.config'

[2019-04-29 17:10] isaacblinder commented on #111
Is there a way I can recreate this error? When I follow a user it appears to work.

[2019-05-03 11:01] kapilip commented on #111
@isaacblinder You can reproduce this issue by creating a fresh database. I encountered this issue with steps mentioned by @amorimjr

[2019-05-05 10:56] ipragmatechadmin commented on #111
@amorimjr @isaacblinder Latest branch(next) works fine now and doesn't have this issue. I tried it yesterday and it was working fine. BTW We are working to support offline for this app and hopefully, you shall access to it in coming days.

[2019-05-07 02:29] Qolzam commented on #97
There is possble idea like using inversify.js however my idea is **avoiding importing unused library**.

I used [craco](https://github.com/sharegate/craco) to handle some features in webpack for v0.7.0. By that we can implement plugins feature. First we need to add a directory like `src/plugins/plugin-name` then each plugin can have **yaml** or **json** config file. Config file can be like :
[code

[2019-05-16 01:10] Qolzam opened #116 "Social Network base on real community users"
@Qolzam I am ready to be long term contributor and my vision is that this community is used by real users (Yes, I would be happy to use new technologies and use AI/ML, etc). So I feel we should also try to get the real users so that they can use it and keep this community active. The community can be for developers or musician or players or any specific community of the close group. A good example

[2019-05-16 02:00] Qolzam commented on #116
@ipragmatechadmin I couldn’t agree with you more, community is the point. I have thought about a community of developers who can have technical view too. Who are using this project, willing to help us expanding the project. Therefore we need a design to able people add their custom extensions.
We focus on platform itself. We can think of [slack app](https://slack.com/apps) idea. Meaning if there i

[2019-05-16 07:16] ipragmatechadmin commented on #116
@Qolzam Completely agree with you. The platform should be flexible enough so that if someone wants to add the extension or module then they should be able to do it. But we need to plan a live environment where people can actually use the platform. Do you have a feature lists for the stable version? Maybe we can work on it and plan a release? So you think developers community shall be our target? j

[2019-05-18 07:12] Qolzam commented on #116
@ipragmatechadmin Generally for stable version following features should be avialable:

- [x] OAuth (login by other social networks).
- [x] Search in post and users ( It's done in new v0.7.0 using Algolia)
- [x] Chat ( It's done in new v0.7.0 )
- [x] Posts
- [x] Comment on post
- [x] Follow People
- [x] Profile
- [x] Share post ( Only as a link or to post in other social networks
- [x] Main Stream

[2019-05-23 06:24] ipragmatechadmin commented on #116
@Qolzam Thanks for sharing the list. I feel we should have some feature where user can discuss the idea/problem. I was hoping to have a group(e.g. Cryptocurrency) feature where people shall join it and discuss the ideas/issue. What are your thoughts about it?

Here is a list of issues that we found (Should we create an issue for each?):

Enhancement & Fixes:

1.) Profile:

	Need to enhance :

		1.

[2019-05-24 13:44] Qolzam commented on #116
@ipragmatechadmin Thanks for your idea and investigation on project :). I would appreciate it if you could create issue for each to discuss on as an issue.

Thanks again!

[2019-05-27 13:55] Abhiranjanchaurasia commented on #116
@Qolzam Thanks for your appreciate, as we discuss above there is need to enhance at the profile image uploading :
1. We can use the direct image at image upload without waiting for the response and update it in background
To generate issue follow :  goto profile -> select edit profile -> select photo upload -> then input the photo -> here we can use the direct image uploading in same manner  as im

[2019-05-27 14:19] Abhiranjanchaurasia commented on #116
@Qolzam we also discuss the data persistency of the album and the feeds which are not supported by the app:
1. Album data is not stored persistent and after religion data not coming
when we refresh the app data totally remove from the app
Before Refreshing the App image of album is
![beforeRefAlbum](https://user-images.githubusercontent.com/47344994/58425722-297e6d80-80b8-11e9-81c3-15dbd3f383ad.pn

[2019-05-27 14:28] Qolzam opened #117 "[Enhancement] Upload profile image in background"
@Qolzam Thanks for your appreciate, as we discuss above there is need to enhance at the profile image uploading :
1. We can use the direct image at image upload without waiting for the response and update it in background
To generate issue follow :  goto profile -> select edit profile -> select photo upload -> then input the photo -> here we can use the direct image uploading in same manner  as im

[2019-05-27 14:29] Qolzam opened #118 "[Bug] Data persistency of the album and the feeds"
@Qolzam we also discuss the data persistency of the album and the feeds which are not supported by the app:
1. Album data is not stored persistent and after religion data not coming
when we refresh the app data totally remove from the app
Before Refreshing the App image of album is
![beforeRefAlbum](https://user-images.githubusercontent.com/47344994/58425722-297e6d80-80b8-11e9-81c3-15dbd3f383ad.pn

[2019-05-27 14:30] Abhiranjanchaurasia commented on #116
@Qolzam  we also discuss about the banner image issue, actually banner image uploading successfully but when we set the banner image then it will not show the image for the cropping or edit,
it shows the blank space there.
1. Choose image banner cover pic not working
After uploading the banner image:
![Screenshot 2019-05-27 at 7 55 12 PM](https://user-images.githubusercontent.com/47344994/58426372

[2019-05-27 14:33] Qolzam opened #119 "[Bug] Banner doesn't show the image"
@Qolzam  we also discuss about the banner image issue, actually banner image uploading successfully but when we set the banner image then it will not show the image for the cropping or edit,
it shows the blank space there.
1. Choose image banner cover pic not working
After uploading the banner image:
![Screenshot 2019-05-27 at 7 55 12 PM](https://user-images.githubusercontent.com/47344994/58426372

[2019-05-27 14:34] Abhiranjanchaurasia commented on #116
@Qolzam we have also discuss about the selecting the my account doen't showing the edit profile, it may be pity well if it shows the edit profile.
 My account selectable but not working, we can fix by showing the account info with editable button activation
![Screenshot 2019-05-27 at 8 03 34 PM](https://user-images.githubusercontent.com/47344994/58426616-a7dc0f00-80ba-11e9-903d-a890d9aa22f6.png)

[2019-05-27 14:37] Qolzam opened #120 "[Enhancement] Selecting my account button doesn't showing the edit profile"
@Qolzam we have also discuss about the selecting the my account doen't showing the edit profile, it may be pity well if it shows the edit profile.
 My account selectable but not working, we can fix by showing the account info with editable button activation
![Screenshot 2019-05-27 at 8 03 34 PM](https://user-images.githubusercontent.com/47344994/58426616-a7dc0f00-80ba-11e9-903d-a890d9aa22f6.png)

[2019-05-27 14:41] Abhiranjanchaurasia commented on #116
@Qolzam we have also discussed the white screen appearing postimng comments  just after the recently posted feeds (feeds may be a image)
2. Post image -> then like -> and after that -> goto comments -> there is white page whole app is not responding
As we click the comment button it shows:
![Screenshot 2019-05-27 at 8 07 21 PM](https://user-images.githubusercontent.com/47344994/58426904-8fb8bf80-8

[2019-05-27 14:46] Abhiranjanchaurasia commented on #116
@Qolzam we also discussed about the send feedback, as we select the send feedback and select any feelings the it remain showing the constant screen .
1. As we post any feedback the round circle revolving not come to end but after another click on send feedback it shows “We appreciate your kind support as always ;)”
Screenshot is:
![Screenshot 2019-05-27 at 8 13 56 PM](https://user-images.githubuse

[2019-05-28 04:48] Abhiranjanchaurasia commented on #120
@Qolzam we started working on these updates & will be completing it by EOD tomorrow.

[2019-06-03 04:51] Abhiranjanchaurasia commented on #120
@Qolzam as we have discussed the feature 1. My account selectable but not working, we can fix by showing the account info with editable button activation has been implemented, please make sure and merge the code.

[2019-06-03 04:58] Abhiranjanchaurasia commented on #119
@Qolzam we have discussed the bug on the banner image update :
 => Actually banner image uploading successfully but when we set the banner image then it will not show the image for the cropping or edit, it shows the blank space there.
The bug has been fixed by updating the cors implementation in the project, please make sure and merge the code.

[2019-06-03 07:20] Qolzam commented on #120
Hello @Abhiranjanchaurasia , I appreciate your contribution. Feel free for pull request.

Thanks!

[2019-06-06 00:48] heysj commented on #111
I still get this error after getting the latest version. How could I fix this?
<img width="769" alt="Screen Shot 2019-06-05 at 5 48 27 PM" src="https://user-images.githubusercontent.com/5767827/58999334-2c651680-87ba-11e9-88b5-6bb8d56790d7.png">

[2019-06-06 12:38] kapilip commented on #111
@heysj Did you use the latest Branch 'Next'? If you follow the instructions for setting up firebase then you shouldn't face any issue.

[2019-06-06 17:38] heysj commented on #111
@kapilip yes, I used the latest Branch 'Next'. There is no error if I use the default firebase configuration in the project, but there is an error when I used my own firebase configuration. Is there something wrong with the firebase cloud functions code that I deployed? I did not set recaptcha.secretKey, phone.sourceNumber, plivo.authId and plivo.authToken in the command line. Thank you very much!

[2019-06-07 02:20] Qolzam commented on #111
@heysj I have just created a new project on Firebase and followed the [article](https://medium.com/red-gold/create-social-network-by-react-js-fe60010a32e6). Everything going well. About firebase environment variables. You only need to add `gmail` and `password`.
By that I have no idea how to reproduce this error.

By the way error says it can not get `Following` circle. It's a default circle will

[2019-06-07 02:50] heysj commented on #111
@Qolzam thank you very much for your detailed explanation! It seems that in my previous tests, the user document does not have "circles" somehow. I deleted the whole database and signed up new users and now it works. Thank you very much!

[2019-06-07 06:43] kapilip commented on #116
@Qolzam We have written a blog for v0.7 installation. Can you take a look and let us know your thoughts? After you approve it then we shall update this information on the Readme file.

[2019-06-07 06:53] Qolzam commented on #116
Hello @kapilip , Great! How I can access the blog? By the way I think we need to fix the issues first. I don't think it is ready for other users as they face with some problems. How is your idea about this?

[2019-06-07 07:11] kapilip commented on #116
Hi @Qolzam, Oops , I forgot to mention the link for the blog. https://www.ipragmatech.com/how-effortlessly-create-free-social-media-app-react-nodejs/.
Yes, I agree that we need to fix the issues. We are fixing the issues and hope to fix most of the issues by next week.

[2019-06-07 07:53] Qolzam commented on #116
@kapilip I do appreciate what you have done. 👍
Just to make the article perfect there are some points. I believe if you go through article to install the project you will face some issues such as Enabling Firestore and some security cautions when they add configuration like in `.firebaserc` file they should not publish in public repository. And about the last part I did not get why after user sign

[2019-06-08 00:01] heysj commented on #111
@kapilip @Qolzam I really appreciate that you made this project open source. Would you consider writing a blog or recording Youtube videos about how to build this project from scratch? That would be very educational. Thank you very much!

[2019-06-18 14:04] Abhiranjanchaurasia commented on #116
Hello Amir,

I understand your concerns. My thoughts on these points are as follows -

1) To Enable Firestore & Configuration stuff we already added a link to
official documents there. We need to make them look more like links, like
underline them.
2) To get the verification code from DB :  To get the verification code via
email and SMS there is a need to follow the steps as below:
 go to firebase

[2019-06-20 11:00] Abhiranjanchaurasia commented on #117
@Qolzam we have created the  enhancement regarding the profile image uploading :
1. We can use the direct image at image upload without waiting for the response and update it in background
2. The uploaded image size
both above are enhanced now

[2019-06-20 12:20] Qolzam commented on #117
@Abhiranjanchaurasia, it's great. However for uploading in background, is there any place or notification to tell user not to close the browser for upload progress.

I would appreciate if you pull request the enhancement, so I can review what you have done.

Thanks a lot! 👍

[2019-06-29 13:14] ipragmatechadmin commented on #111
@heysj We have written a new blog for the social website so feel free to take a look at https://www.ipragmatech.com/how-effortlessly-create-free-social-media-app-react-nodejs/ and send us your feedback to make it better :)

[2019-07-01 03:54] Abhiranjanchaurasia commented on #118
@Qolzam we have fixed the issue data persistence for the album and the feeds.

[2019-07-01 04:54] Abhiranjanchaurasia opened #123 "[Bug] When open the app in mobile and zooming the image, back button not visible as the back button visible at the desktop browser app, device back button moving to different screen."
**Describe the bug**
1. On the Mobile browser just click at any image post, image zoomed itself but back button not visible as the back button visible at the desktop browser, on parents back/ (device default back) the app moving to a different screen.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home
2. Click on any image post for the zooming the image
3. Now  image zoomed
4. Back, d

[2019-07-01 05:25] Abhiranjanchaurasia opened #124 "[Bug] On Mobile Browser the Camera Event not working properly, after capturing the image app will restart itself."
**Describe the bug**
When we open the camera and taking the image from any position i.e posting an image from the post or setting profile image at profile or setting banner image at the banner or opening video recording camera from the post, the app will restart itself.
**To Reproduce**
Steps to reproduce the behavior:
1. Go home
2. Click on the post button
3. Select the camera button/video camera

[2019-07-02 02:56] Qolzam commented on #123
@Abhiranjanchaurasia thanks for raising this issue. Could you please edit issue title to a shorter title like *In zoom image plugin, back button is not visible* ?

[2019-07-02 03:03] Qolzam commented on #124
@Abhiranjanchaurasia I have not worked on mobile support seriously. Do you think is it necessary to support mobile app in v0.7.0? or I create a new milestone and for this v0.7.0 we just focus on stability of features on desktop browsers?

@kapilip What is your idea?

[2019-07-02 03:04] #117 closed, assigned to ipragmatechadmin

[2019-07-02 03:05] #119 closed, assigned to ipragmatechadmin

[2019-07-02 03:05] #120 closed, assigned to ipragmatechadmin

[2019-07-02 03:07] #48 closed

[2019-07-17 08:52] Abhiranjanchaurasia commented on #123
Hi! Amir,
I have an idea that we can implement the feature of groups with the
existing app and user may have a great experience regarding the group.
The better explanation may as follows:

Based on my idea, seems to me that a bit more may be needed. Maybe
something like:

   - One group can have many users.
   - One user can belong to many groups.
   - Within a group users create topics (topic = s

[2019-07-17 10:26] Qolzam commented on #123
Thanks for sharing your idea. If I understand you well you it's community like system. Can you create new issue for this idea with [Feature] tag?
We can develop this feature for new milestone maybe (v0.8.0)

[2019-07-17 10:36] Abhiranjanchaurasia commented on #123
Hello! Amir,
Sure.

Thanks & Regards,
Abbiranjan Chaurasia | Software Developer (iOS),
iPragmatech <http://www.ipragmatech.com/> Solutions
<http://www.ipragmatech.com/>
phone 91-120-4284907 | Skype abhiranjan101_2
Tweet iPragmatech <https://twitter.com/iPragmatech>  | Facebook iPragmatech
<http://www.facebook.com/ipragmatech>
Magento Mobile app
<https://play.google.com/store/apps/details?id=com.ip

[2019-07-17 11:07] Abhiranjanchaurasia opened #125 "Can we implements a feature like Group with the existing app that may give greater experience to the user?"
**Describe the solution you'd like**
I have an idea that we can implement the feature of groups with the existing app and the user may have a great experience regarding the group.
The better explanation may as follows:
Based on my idea, seems to me that a bit more may be needed. Maybe something like:

1. One group can have many users.
2. One user can belong to many groups.
3. Within a group, users

[2019-12-09 15:49] bsde1234 opened #126 "yarn start error"
I get error like,
[code]
previously in functions command prompt
[code]
and pressed enter(not used plivo thing), and
when I issued npm start I got,
[code]

[2019-12-09 16:28] bsde1234 commented on #126
I resolved this error by downgrading to `react-day-picker@7.3.2`. But now I get an error like,
[code]

[2019-12-10 00:54] Qolzam commented on #126
Thanks for reporting @bsde1234. Which branch you are using?

[2019-12-10 01:21] bsde1234 commented on #126
I cloned https://github.com/red-gold/react-social-network.git

[2019-12-10 02:14] bsde1234 commented on #126
Now I use v-0.6.0

I got following errors,
src/components/circle/circlecomonent.tsx `import IconButtonElement from 'layouts/IconButtonElement' `
should be` import IconButtonElement from 'layouts/iconButtonElement'`
src/components/post/postcomonent.tsx `import IconButtonElement from 'layouts/IconButtonElement'` should be
`import IconButtonElement from 'layouts/iconButtonElement'`

[2019-12-10 03:02] bsde1234 commented on #126
Now it works locally. When I deployed it to firebase using `npm run deploy:firebase`, I get
`Uncaught SyntaxError: Unexpected token '<'` in browser console.
I also get this error in console,
[code]
https://monsoon-network.firebaseapp.com/

[2019-12-11 07:21] bsde1234 commented on #126
@Qolzam Can you please take a look on this website? https://monsoon-network.firebaseapp.com/

[2019-12-11 10:00] Qolzam commented on #126
Sorry @bsde1234, I got busy this  week. I need to make time (maybe in the weekend) to check your problem.

[2019-12-11 11:47] bsde1234 commented on #126
Ok

[2020-02-26 23:39] bayareabear opened #127 "why telar social?"
react social is very easy to set up and deploy. In contrast telar social require so many ingredients to set up. I spent 1.5 days but couldn't figure out how to set up Open Faas. What's the point?

[2020-02-26 23:41] bayareabear opened #128 "mobile app"
If I want to convert react-social to an iOS or android app, how to do it?

[2020-02-27 03:29] Qolzam commented on #127
@bayareabear , Thank you for your feedback. I agree with you Telar Social setup is more difficult than React Social Network.
Telar Social mostly focus on building a highly salable and high performance cloud native app that you can run on any cloud (public/private/on-premise). But React Social Network only running on Firebase with nodeJs(Telar Social written in Go).
Telar Social has a flexible infr

[2020-02-27 03:33] Qolzam commented on #128
Can you explain more about your use case?

[2020-02-28 18:27] bayareabear commented on #128
so after you make an web app, you want to acquire more users, eventually, you want to go mobile. After all, social app should go mobile, so why not make mobile app first?

[2020-02-28 18:37] bayareabear commented on #127
Hi Amir, thanks for the reply. I can see the migration is for a long term thinking. I am curious what motivates you to this change?
I'll continue to try out telar social and compile a list of points for improvements. Again, appreciate all the detailed explanation. If possible, I can also potentially contribute to your repo.

[2020-02-29 00:49] Qolzam commented on #128
You are absolutely right. Because this project start with different target at the beginning.

Time is narrow and I have to take care of both backend and frontend. So I mainly worked on backend continuing with the same ReactJs frontend (Though I tried to build [mobile app](https://github.com/Qolzam/react-mobile-social)).
For now I am trying to work on making the setup easier for users and writing d

[2020-02-29 03:25] Qolzam commented on #127
Hi @bayareabear,

There are some ideas I have in my mind to implement on this project like AI solutions, blockchain and get to high scalability with lower cost in infrastructure that I could not achieve using Firebase. And further idea is lunching a Social Network Cloud Provider.
I appreciate and consider carefully all your points. You are very welcome for any contribution. Your help can make the

[2020-03-01 18:31] bayareabear commented on #127
One thing that blocks me is the OpenFaaS cloud. I tried to apply for access but never got any response

[2020-03-02 01:22] Qolzam commented on #127
@bayareabear, Can you tell me when you registered for OpenFaaS cloud?
I will try contact to OpenFaaS people.

[2020-03-02 08:55] alexellis commented on #127
Hi George, my records show that you applied for the community cluster only 2 working days ago on 26th Feb. The Community Cluster is a completely free resource and all sign-ups have to be verified manually for spam and misuse. You should hear from me within a few days.

Feel free to join OpenFaaS Slack.

Alex

[2020-03-13 12:14] imatulkt opened #129 "Unable to deploy"
When I am trying to deploy it on firebase, I am getting ERROR : 400, this is not available for Cloudstore firebase project in datamode. I am unable to deploy it over firebase by firebase deploy command

Expected behavior :
After typing firebase deploy command, the project should be deployed on firebase.

Desktop
 - OS: Windows 10
 - Browser : Chrome

![error](https://user-images.githubusercontent.

[2020-03-13 14:34] Qolzam commented on #129
Thank you @imatulkt for your report.  I have done some changes. Can you try and let me know if there is any issue?

Also have you tried a new [cloud native version of social network](https://telar.press)?

[2020-03-15 12:15] MonteLogic commented on #127
I use this codebase to check how to use large scale redux with TypeScript. This codebase is valued. I like many developers have little to no interest in golang. I will attempt to maintain this boilerplate if no other developers are interested.

[2020-03-15 12:52] Qolzam commented on #127
Thanks @dchavours for your interest :)
Indeed you are able to develop/add feature on the backend  in any [language](https://docs.openfaas.com/cli/templates/) you are interested in.
Anyway any contribution is very welcome 👍

[2020-03-15 12:54] Qolzam commented on #129
I will close this for now but feel free to reopen if you have any issue.
Thanks again!

[2020-03-15 12:54] #129 closed, assigned to nobody

[2020-03-22 09:16] Qolzam commented on #127
@bayareabear I have just released [Telar CLI](https://github.com/Qolzam/telar-cli) automated setup!

[2020-03-22 09:16] #127 closed, assigned to nobody

[2020-05-22 16:32] RashoAli opened #130 "having issus with npm install and yarn install"
im geting this error after starting the 'install' command
i belive its on my side but dont know how to solve it

COPY Release/libgpr.a
  CXX(target) Release/obj.target/grpc_node/ext/byte_buffer.o
  CXX(target) Release/obj.target/grpc_node/ext/call.o
../ext/call.cc: In function ‘bool grpc::node::CreateMetadataArray(v8::Local<v8::Object>, grpc_metadata_array*)’:
../ext/call.cc:99:58: error: no match

[2020-09-25 14:26] rickithadi commented on #130
any news?

[2020-09-25 21:02] RashoAli commented on #130
no 🤷‍♀️

[2020-10-30 22:36] bayareabear opened #131 "Is follow user feature working?"
When I click "FOLLOW" in the FindPeople component, I see error:

TypeError: Cannot read property '0' of undefined
UserBoxComponent._this.onFollowUser
src/components/userBox/UserBoxComponent.tsx:182
  179 | }
  180 | if (!isFollowed) {
  181 |   debugger

  183 | } else {
  184 |   this.onRequestOpenAddCircle()
  185 | }

Also it would be good to add some documentation on what is UserTie and Circle

[2020-10-31 01:51] Qolzam commented on #131
Hi @bayareabear , I appreciate your bug report and recommendation 🙂.
However as I already wrote in [README](https://github.com/red-gold/react-social-network/blob/next/README.md) file on the repository ...
![image](https://user-images.githubusercontent.com/8446573/97767313-f9a98400-1b4d-11eb-90b4-9d9394861c59.png)
I am working on a [Telar Social UI (new version)](https://github.com/red-gold/ts-ui)

[2020-10-31 01:51] #131 closed, assigned to nobody

[2020-10-31 01:54] Qolzam commented on #130
Close with #131.

[2020-10-31 01:54] #130 closed, assigned to nobody

[2020-10-31 01:55] Qolzam commented on #126
Close with #131.

[2020-10-31 01:55] #126 closed, assigned to nobody

[2020-10-31 01:56] Qolzam commented on #128
Close with #131.

[2020-10-31 01:56] #128 closed, assigned to nobody

[2020-10-31 01:58] #116 closed, assigned to nobody

[2020-10-31 01:59] #111 closed, assigned to nobody

[2021-10-11 03:54] navdeep01-rog opened #133 "FAILED TO COMPILE"
![WhatsApp Image 2021-10-10 at 10 15 12 PM](https://user-images.githubusercontent.com/81576040/136730977-6415a0d5-95fd-4ee4-87d2-54fe373fcc65.jpeg)

[2022-02-05 08:05] hanu7674 opened #134 "TypeError: Cannot read properties of undefined (reading 'get')"
![Screenshot (69)](https://user-images.githubusercontent.com/50729962/152633927-a8dfc41c-0864-4d4d-976e-5fafce940833.png)